{{#resume.basics}}
<section id="contacts">
  <h3>Contact</h3>
    <section id="contactsContent">
    {{#location}}
    <div class="location item">
      <div class="block">
        {{#if address}}<span class="address">{{address}}</span>{{/if}}
      </div>
    </div>
    {{/location}}

    <div class="contacts item">
      <div class="block">
        {{#if email}}<a href="mailto:{{email}}">{{email}}</a>{{/if}}
      </div>
      <div class="block">
        {{#if phone}}<a href="tel:{{phone}}">{{phone}}</a>{{/if}}
      </div>
    </div>

    <div class="site item">
      <div class="block">
        {{#if url}}<a href="{{url}}" class="url">{{httpReplacer url}}</a>{{/if}}
      </div>
    </div>
  </section>
</section>
{{/resume.basics}}
