{{#if resume.projects.length}}
<section id="work">
	<h3>Projects</h3>
  <section>
    {{#each resume.projects}}
    <div class="item">
      <div class="row">
        {{#if name}}
        <div class="name">
          {{name}}
        </div>
        {{/if}}
      </div>
      {{#if url}}
      <div class="url">
        <a href="{{url}}">{{url}}</a>
      </div>
      {{/if}}
      {{#ifCond summary '||' description}}
      <div class="summary">
        <p>
          {{description}}
          {{summary}}
        </p>
      </div>
      {{/ifCond}}
    </div>
    {{/each}}
  </section>
</section>
{{/if}}
