{{#if resume.work.length}}
<section id="work">
	<h3>Experience</h3>
  <section>
    {{#each resume.work}}
    <div class="item">
      <div class="row">
        {{#if name}}
        <div class="name">
          {{name}}
        </div>
        {{/if}}
        <div class="date">
          {{#if startDate}}
          <span class="startDate">
            {{formatDate startDate}}
          </span>
          {{/if}}
          {{#ifCond endDate '!=' 'present'}}
          <span class="endDate">
            - {{formatDate endDate}}
          </span>
          {{else}}
          <span class="endDate">
            - Present
          </span>
          {{/ifCond}}
        </div>
      </div>
      {{#if position}}
      <div class="position">
        {{position}}
      </div>
      {{/if}}
      {{#ifCond summary '||' description}}
      <div class="summary">
        <p>
          {{description}}
          {{summary}}
        </p>
      </div>
      {{/ifCond}}
      {{#if highlights.length}}
      <ul class="highlights">
        {{#each highlights}}
        <li>{{.}}</li>
        {{/each}}
      </ul>
      {{/if}}
    </div>
    {{/each}}
  </section>
</section>
{{/if}}
